.center {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 70px;
}

.products-sales {
   width: 1000px;
   max-width: 1000px;
   overflow: hidden;
   position: relative;
   padding: 0 30px;
}

.products-width {
   display: flex;
}  

.products-sales svg.icon-next,
.products-sales svg.icon-prev {
   position: absolute;
   display: block;
   z-index: 10;
   cursor: pointer;
   height: 25px;
   width: 25px;
   border-radius: 50%;
}

.products-sales svg.icon-prev {
   top: 150px;
   left: 0px;

}

.products-sales svg.icon-next {
   right: 0px;
   top: 150px;
}


@media(max-width: 1025px) {
   .products-sales {
     margin: 0 20px;
   }
}

@media(max-width: 950px) {   
   .products-width {
      align-items: center;
      max-width: 300px;
   }  
   .products-sales {
      width: 380px;
      max-width: 380px;
      padding: 0;
   }

   .products-sales svg.icon-next,
   .products-sales svg.icon-prev {
      display: none;
   }

   .nav-products {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
   }
   
   .nav-products ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin-bottom: 2rem;
   }
   
   .nav-products ul li {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 2rem;
      background-color: #BDBDBD;
      border-radius: 100%;
      cursor: pointer; 
   }
   
   .nav-products ul li.active {
      background-color: #F8475F;
   }
}

@media (max-width: 412px) {
   .products-sales {
      margin: 0 35px;
   }
}

@media (max-width: 375px) {
   .center {
      margin: 20px;
   }

   .products-sales {
      margin: 0;
   }
}

@media (max-width: 350px) { 
   .products-sales {
      padding-right: 20px;
   }
   .products-width {
      width: 350px;
      max-width: 350px;
      padding-right: 20px;
   }
}

