.list-items {
   list-style: none;
   position: absolute;
   bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   z-index: 10;
}

.list-items li {
   height: 15px;
   width: 15px;
   margin-right: 20px;
   background-color: #BDBDBD;
   border-radius: 100%;
   cursor: pointer;
}

.list-items li.active {
   background-color: #F8475F;
}

.banner-desktop {
   height: 300px;
   background: #000;
   position: relative;
   max-height: 300px;
   display: flex;
   position: relative;
}

.banner-desktop .background-black-image {
   height: 100%;
   color: #FFF;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

.banner-desktop .background-black-image img {
   height: 100%;
   margin-left: 100px;
}

.banner-desktop .background-black-image .titles {
   position: absolute;
}

.banner-desktop .background-black-image .titles h4 {
   font-size: 30px;
   line-height: 40px;
}

.banner-desktop .background-black-image .titles h3 {
   font-size: 45px;
   line-height: 45px;
}

.banner-desktop .image-title {
   margin-left: -60px;
}

.banner-desktop .image-title img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

main .banner-mobile {
   display: none;
}

@media(max-width: 1250px) {
   .banner-desktop .background-black-image img {
      margin-left: -60px;
   }
}

@media(max-width: 970px) {
   .banner-desktop .background-black-image img {
      margin-left: -100px;
   }
}

@media (max-width: 950px) {
   .banner-desktop{ 
      display: none;
   }

   main .banner-mobile {
      background: url('../../assets/images/laptop.jpg') no-repeat;
      object-fit: cover;
      height: 300px;
      position: relative;
      display: block;
   }
   
   main .banner-mobile .background-black {
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 100%;
      height: 100%;
   }
   
   main .banner-mobile .titles {
      width: 90%;
      height: 70%;
      margin: 2.3rem auto;   
      font: 700 Nunito;
      font-size: 2.0rem;
      color: #FFF;
      display: flex;
      justify-content: center;
      flex-direction: column;
   }
   
   main .banner-mobile .titles h4 {
      font-size: 30px;
      max-width: 300px;
   }
   
   main .banner-mobile .titles h3 {
      font-size: 40px;
      max-width: 350px;
   }
}